@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a SGSI</h1>
    <p><img class="img-fluid" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.VBb2KV56J1YWch2WRTx9rwHaHa%26pid%3DApi&f=1&ipt=fce5ea0839b53264d3e794b41757a508618b8206a11177e05f631a1dc7dfaf7a&ipo=images" /></p>
</div>
